body{
    background-image: url("/assignment/record.png");
    background-repeat: repeat;
    background-size: contain;
    margin: 0%;
}
header{
    background-color: rgb(56, 55, 55);
    margin: 0%;
    padding: 0%;
    text-align: center;
    color: rgb(242, 224, 198);
}

main{
    background-color: rgb(187, 186, 186);
    padding: 1em;
}